<% include partials/header.ejs %>

<div class="w3-row w3-margin-top">
  <% include partials/navs.ejs %>
  <div style="width:60%;margin-bottom:200px" class="w3-col w3-card-4 w3-mobile w3-animate-right">
    <form class="w3-container" action="/admin/deal" enctype="multipart/form-data" method="POST">
			<br>
			<dl>
        <dt> <label>Bg Image</label> </dt>
				<dd><input type="file" name="image" accept="image/*" ></dd>
				<dt> <label>Select image</label> </dt>
				<dd><input type="file" name="image" accept="image/*" multiple></dd>
				<dt> <label>Deal title</label> </dt>
				<dd><input placeholder="Today's deal is ..." type="text" name="dealTitle" value=""></dd>
				<dt> <label>Price Text</label> </dt>
				<dd><input placeholder="Price" type="text" name="dealPrice" value=""></dd>
        <dt> <label>Price</label> </dt>
				<dd><input placeholder="Price" type="text" name="ac_price" value=""></dd>
			</dl>

      <input type="hidden" name="categories" value="">
      <input type="hidden" name="survey" value="">

      <div class="w3-row w3-margin-bottom">

        <div class="w3-half">
          <label class="w3-indigo w3-padding"> Categories</label>
          <span class="w3-row">
            <input class="cat w3-input w3-grey w3-row w3-border" type="text" name="" value="">
            <button class="cat-add w3-button w3-quarter w3-teal" type="button" name="button">Add</button>
            <button style="display:none" class="add-cat-op w3-quarter w3-black w3-button" type="button" name="button"> <i class="fa fa-plus"></i> </button>
          </span>

          <ul class="cat-list w3-row w3-ul w3-white">

          </ul>
        </div>

        <div class="w3-half">
          <label class="w3-indigo w3-padding"> Survey</label>
          <span class="w3-row">
            <input class="suv w3-input w3-grey w3-threequarter w3-border" type="text" name="" value="">
            <button class="suv-add w3-button w3-quarter w3-teal" type="button" name="button">Add</button>
          </span>

          <ul class="suv-list w3-row w3-ul w3-white">

          </ul>
        </div>
      </div>


      <label class="w3-indigo w3-padding"> <i class="fa fa-pencil"></i> Marketing write up</label>
      <textarea class="summernote" name="marketingWriteUp"></textarea>

      <label class="w3-indigo w3-padding">Things you get</label>
      <textarea class="summernote" name="thingGet"></textarea>

      <label class="w3-indigo w3-padding">Share text</label>
      <textarea class="w3-input w3-border w3-round w3-margin-bottom" name="share_txt"></textarea>

				<dl>
					<dt> <label>Shoppy text</label> </dt>
					<dd><input type="text" placeholder="Link to item" name="shoppy_txt" value=""></dd>
					<dt> <label>Shoppy link</label> </dt>
					<dd><input type="url" placeholder="Link to item" name="shopLink" value=""></dd>
				</dl>

			<dl>
				<dt> <label>Video of the day</label> </dt>
				<dd><input type="text" placeholder="Video Link" name="VideoLink" value=""></dd>
			</dl>

			<dl>
				<dt> <label>Date</label> </dt>
				<dd><input id="date" type="date" placeholder="Day" name="date" value=""></dd>
				<dt> <label>BG color</label> </dt>
				<dd><input type="color" name="bg_color" value=""></dd>
			</dl>

      <div class="w3-center">
        <button style="margin-top:50px;margin-bottom:50px;padding:50px;font-size:24px" class="w3-button w3-blue w3-round" type="submit"> <i class="fa fa-send"></i> Add deal!</button>
      </div>


    </form>




  </div>
  <div style="width:20%" class="w3-col w3-animate-right">
    <ul class="w3-ul w3-bar-block">

			<% deals.forEach(function(item){ %>
				<a href="/admin/edit/<%= item.ID %>"><li class="w3-bar-item w3-button"><%= item.title %>
				<% if(item.timestamp == currentDate){ %>
					<span class="w3-tag w3-green w3-right">on Fire</span>
				<% }else if(item.timestamp < currentDate){ %>
					<span class="w3-tag w3-red w3-right">Past</span>
			  <% }else{ %>
					<span class="w3-tag w3-yellow w3-right">Pending</span>
				<% } %>
			</li></a>
			<% }); %>

    </ul>
  </div>

</div>
  <script>
    $(document).ready(function() {
        $('.summernote').summernote();
        $('.cat-add').click(function(){
          $('.cat').removeClass("w3-grey").addClass("w3-white");
          var val = $('.cat').val();
          $('.cat-list:first').append('<li>'+val+'</li>');
          $('.cat').val("");
          $('.cat-list>li:first-child').addClass("w3-grey");
          var len = $('.cat-list:eq(0)>li').length;
          if(len > 1){
            $('.add-cat-op').css("display","block");
          }else{
            $('.add-cat-op').css("display","none");
          }
          getCat();
        });
        $('.add-cat-op').click(function(){
          $('.cat-list').before('<ul class="cat-list w3-row w3-ul w3-white"></ul>');
          $(this).css("display","none");
          $('.cat').removeClass("w3-white").addClass("w3-grey");
        });

        $('.suv-add').click(function(){
          $('.suv').removeClass("w3-grey").addClass("w3-white");
          var val = $('.suv').val();
          $('.suv-list:first').append('<li>'+val+'</li>');
          $('.suv').val("");
          $('.suv-list>li:first-child').addClass("w3-grey");
          getSuv();
        });
    });

    function getCat(){
      var len = $('.cat-list').length;
      var cat = "";
      for(i=0;i<len;i++){
        var od = "";
        var list = $('.cat-list:eq('+i+')>li').length;
        for(n=0;n<list;n++){
          var a = $('.cat-list:eq('+i+')>li:eq('+n+')').text();
          od += a+",";
        }
        cat += od+"-***-";
      }
      $("[name='categories']").val(cat);
    }

    function getSuv(){
      var od = [];
        var list = $('.suv-list:eq(0)>li').length;
        for(n=0;n<list;n++){
          var a = $('.suv-list:eq(0)>li:eq('+n+')').text();
          od.push(a);
        }
        var c = od.join(",");
      $("[name='survey']").val(c);
    }

  </script>
