<% include partials/header.ejs %>
<style media="screen">
  body {
    background: #a9a9a9;
  }
</style>
    <div class="w3-row w3-margin-top">
      <div style="color: #a9a9a9" class="w3-third w3-container">
        .
      </div>
      <div class="w3-third w3-center w3-white w3-border w3-card-4 w3-mobile w3-container">
        <h3 class="w3-xxxlarge w3-round w3-center">Admin</h3>
        <form class="w3-container w3-margin-bottom" action="/han" method="POST">

          <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i style="padding-top:10px;padding-bottom:10px" class="w3-xxlarge fa fa-user"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-round w3-border" style="padding-top:15px;padding-bottom:15px" name="admin" type="text" placeholder="Admin name">
            </div>
          </div>
          <div class="w3-row w3-section">
          <div class="w3-col" style="width:50px"><i style="padding-top:10px;padding-bottom:10px" class="w3-xxlarge fa fa-lock"></i></div>
            <div class="w3-rest">
              <input class="w3-input w3-round w3-border" style="padding-top:15px;padding-bottom:15px" name="password" type="password" placeholder="Password">
            </div>
          </div>
          <input class="w3-right w3-round w3-button custom-bg w3-text-white w3-margin-top" type="submit" value="Send me back in >>">
        </form>

      </div>
      <div class="w3-third w3-bold w3-container">

      </div>
    </div>

  </body>
</html>
