<% include partials/header.ejs %>

<div class="w3-row w3-margin-top">
  <% include partials/navs.ejs %>
  <div style="width:60%" class="w3-padding w3-col w3-card-4 w3-mobile">

    <table class="w3-table-all w3-bordered">
      <tr>
        <th>Username</th>
        <th>Phone</th>
        <th>Invoice</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Farhan Yahya</td>
        <td>0558359341</td>
        <td>fdsh4hkhri4h3ih43a</td>
        <td> <span class="w3-text-green">Paid</span> </td>
      </tr>
      <tr>
        <td>Victor Gorleku</td>
        <td>0543566793</td>
        <td>HSF4ESDAHsafdskl</td>
        <td> <span class="w3-text-red">failed</span> </td>

      </tr>

    </table>


  </div>
  <div style="width:20%" class="w3-col ">
  </div>

</div>
