<% include partials/header.ejs %>

<div class="w3-row w3-margin-top">
  <% include partials/navs.ejs %>
  <div style="width:80%" class="w3-padding w3-col w3-card-4 w3-mobile">
<!--
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/han/reports/purchase">Purchase</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/han/reports/site">Site Account</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/han/reports/account">Account</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/han/reports/blind-rage">Blind rage</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/han/reports/pure-bliss">Pure Bliss</a>
-->
    <% if(hasReports){ %>
      <table style="margin-top:30px" class="w3-table-all w3-bordered">
        <tr>
          <th>Email</th>
          <th>Phone</th>
          <th>Type</th>
          <th>Issue</th>
        </tr>
        <% reports.forEach(function(item){ %>
          <tr>
            <td><%= item.email %></td>
            <td><%= item.phone %></td>
            <td><%= item.type %></td>
            <td><%= item.issue %></td>
          </tr>
        <% }); %>
      </table>
    <% }else{ %>
      <h3>There are no reports available!</h3>
    <% } %>


  </div>

</div>
