<% include partials/header.ejs %>

<div class="w3-row w3-margin-top">
  <% include partials/navs.ejs %>
  <div style="width:80%" class="w3-padding w3-col w3-card-4 w3-mobile">

    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/admin/reports/purchase">Purchase</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/admin/reports/site">Site Account</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/admin/reports/account">Account</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/admin/reports/blind-rage">Blind rage</a>
    <a class="w3-button button-color w3-round-xxlarge w3-text-white muli-bold" href="/admin/reports/pure-bliss">Pure Bliss</a>

    <table style="margin-top:30px" class="w3-table-all w3-bordered">
      <tr>
        <th>UserId</th>
        <th>Type</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      <tr>
        <td>5</td>
        <td>Account</td>
        <td>yahyafarhan48@gmail.com</td>
        <td>0558359341</td>
      </tr>


    </table>


  </div>

</div>
