<% include partials/header.ejs %>

<div class="w3-row w3-margin-top">
  <% include partials/navs.ejs %>
  <div style="width:60%" class="w3-col w3-padding w3-card-4 w3-mobile">
    <form action="story" method="post">
      <% if(titles.length > 0){ %>
        <% titles.forEach(function(item,index){ %>
          <section>
            <input type="text" class="w3-input w3-border w3-border-teal" name="title" placeholder="**Title of Section**" value="<%= item %>">
            <textarea name="story" class="summernote"><%- content[index] %></textarea>
            <button type="button" class="story-add w3-button w3-black" name="button"> <i class="fa fa-plus"></i> </button>
          </section>
        <% }); %>
      <% }else{ %>
        <section>
          <input type="text" class="w3-input w3-border w3-border-teal" name="title" placeholder="**Title of Section**" value="<%= item %>">
          <textarea name="story" class="summernote"><%- content[index] %></textarea>
          <button type="button" class="story-add w3-button w3-black" name="button"> <i class="fa fa-plus"></i> </button>
        </section>
      <% } %>

      <div class="w3-center">
        <button style="margin-top:50px;margin-bottom:50px;padding:50px;font-size:24px" class="w3-button w3-blue w3-round" type="submit"> <i class="fa fa-send"></i> Update Story!</button>
      </div>
    </form>

  </div>
  <div style="width:20%" class="w3-col ">
    <ul class="w3-ul w3-bar-block">
      <li class="w3-bar-item w3-button">Nothing to show 1</li>
      <li class="w3-bar-item w3-button">Nothing to show 2</li>
      <li class="w3-bar-item w3-button">Nothing to show 3</li>
      <li class="w3-bar-item w3-button">Nothing to show 4</li>
    </ul>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".summernote").summernote();
    $(document).on("click",".story-add",function(){
      var html = '<section><input type="text" class="w3-input w3-border w3-border-teal" name="title" placeholder="**Title of Section**" value=""><textarea name="story" class="summernote"></textarea><button type="button" class="story-add w3-button w3-black" name="button"> <i class="fa fa-plus"></i> </button></section>';
      $(this).parent().after(html);
      $(".summernote").summernote();
    });

    $(".num").focusout(function(){
      alert($(this).val());
    });
  });
</script>
