<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125049555-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125049555-1');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Han</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Montserrat|Kirang+Haerang" rel="stylesheet">

  </head>
  <body style="position:relative">
    <header id="header">
      <nav class="clearfix">
    <a class="logo" href="/"> <img class="w3-center" src="/img/onedistin_logo.png" alt=""> </a>
      <ul class="links">

        <li class="main">
          <a href="#" title="what is onedistin">
            <i style="background-image: url('../img/faq.png')"></i>
            <p>What is OneDistin</p>
          </a>
          <ul style="overflow:hidden" class="content w3-round-xlarge">
            <a href="/our-story"><li>Our Story</li></a>
            <li>Customer Support</li>
          </ul>
        </li>
        <li>
          <a href="/pastdeals" title="past deals">
            <i style="background-image: url('../img/pastdeals.png')"></i>
            <p>past deals</p>
          </a>
        </li>
        <li class="main">
          <a href="#" title="account">
            <i style="background-image: url('../img/account.png')"></i>
            <p>account</p>
          </a>
          <ul style="overflow:hidden" class="content w3-round-xlarge">
            <% if(isAuthenticated){ %>
              <a href="/profile"><li>profile</li></a>
              <a href="/logout"><li>logout</li></a>
            <% }else{ %>
              <a href="/login"><li>login</li></a>
              <a href="/signup"><li>signUp</li></a>
            <% } %>


          </ul>
        </li>
        <% if(isAuthenticated){ %>
          <li>
            <a href="/rewards" title="rewards">
              <i style="background-image: url('../img/reward.png')"></i>
              <p>rewards</p>
            </a>
          </li>
        <% } %>
        <li>
          <a href="/forum" title="community">
            <i style="background-image: url('../img/community.png')"></i>
            <p>community</p>
          </a>
        </li>
        <li>
          <a href="/sell" title="sell on onedistin">
            <i style="background-image: url('../img/bar-chart.png')"></i>
            <p>sell on onedistin</p>
          </a>
        </li>

      </ul>
</nav>
    </header>
    <!--<div id="header" style="width:80%" class="w3-col w3-bar w3-padding">
      <a class="w3-bar-item w3-wide" href="/">
        <img id="logo" src="/img/onedistin_logo.png" alt="">
      </a>
      <div style="margin-top: 20px;margin-right:20px;">
        <div class="w3-dropdown-hover w3-right w3-mobile">
          <a class="w3-bar-item" href="#">Forum</a>
          <div class="w3-dropdown-content w3-bar-block w3-border">
            <% if(isAuthenticated){ %>
              <a class="w3-bar-item w3-button" href="/forum/add">Add new</a>
            <% } %>
            <a class="w3-bar-item w3-button" href="/forum">View All</a>
          </div>
        </div>

        <div class="w3-dropdown-hover w3-right w3-mobile">
          <a class="w3-bar-item" href="#">Account</a>
          <div class="w3-dropdown-content w3-bar-block w3-border">
            <% if(isAuthenticated){ %>
              <a class="w3-bar-item w3-button" href="/profile">Profile</a>
              <a class="w3-bar-item w3-button" href="/logout">Logout</a>
            <% }else{ %>
              <a class="w3-bar-item w3-button" href="/login">Login</a>
              <a class="w3-bar-item w3-button" href="/signup">SignUp</a>
            <% } %>
          </div>
        </div>
        <a class="w3-bar-item w3-right w3-mobile" href="/signup"> Past Deals </a>
        <a class="w3-bar-item w3-right w3-mobile" href="/signup"> Our Story </a>
      </div>

    </div>-->
