    <script type="text/javascript" src="/js/snowstorm.js"></script>
    <script type="text/javascript">
      snowStorm.snowColor = "black";
      snowStorm.flakesMaxActive = 10000;
      snowStorm.useTwinkleEffect = true;
    </script>
    <header id="header">
      <nav class="clearfix">
    <a class="logo" href="/"> <img class="w3-center" src="/img/onedistin_logo.png" alt=""> </a>
      <ul class="links">

        <li class="main">
          <a href="#" title="what is onedistin">
            <i style="background-image: url('../img/faq.png')"></i>
            <p>What's Distin?</p>
          </a>
          <ul style="overflow:hidden" class="content w3-round-xlarge">
            <a href="/our-story"><li>Our Story</li></a>
            <a href="/support"><li>Customer Support</li></a>
          </ul>
        </li>
        <li>
          <a href="/pastdeals" title="past deals">
            <i style="background-image: url('../img/pastdeals.png')"></i>
            <p>past deals</p>
          </a>
        </li>
        <li class="main">
          <a href="#" title="account">
            <i style="background-image: url('../img/account.png')"></i>
            <p>account</p>
          </a>
          <ul style="overflow:hidden" class="content w3-round-xlarge">
            <% if(isAuthenticated){ %>
              <a href="/profile"><li>Profile</li></a>
              <a href="/theSavers"><li>theSavers</li></a>
              <a href="/logout"><li>Logout</li></a>
            <% }else{ %>
              <a href="/login"><li>Login</li></a>
              <a href="/signup"><li>SignUp</li></a>
            <% } %>


          </ul>
        </li>

          <!--<li class="main">
            <a href="/thesavers" title="rewards">
              <i style="background-image: url('../img/reward.png')"></i>
              <p>theSavers</p>
            </a>
            <ul style="overflow:hidden" class="content w3-round-xlarge">
              <a href="/thesavers"><li>Introduce a Friend</li></a>
              <a href="/rewards"><li>rewards</li></a>
            </ul>
          </li>-->

        <li>
          <a href="/community" title="community">
            <i style="background-image: url('../img/community.png')"></i>
            <p>community</p>
          </a>
        </li>
        <li>
          <a href="/sell" title="sell on onedistin">
            <i style="background-image: url('../img/bar-chart.png')"></i>
            <p>sell on onedistin</p>
          </a>
        </li>

      </ul>
</nav>
    </header>
    <!--<div id="header" style="width:80%" class="w3-col w3-bar w3-padding">
      <a class="w3-bar-item w3-wide" href="/">
        <img id="logo" src="/img/onedistin_logo.png" alt="">
      </a>
      <div style="margin-top: 20px;margin-right:20px;">
        <div class="w3-dropdown-hover w3-right w3-mobile">
          <a class="w3-bar-item" href="#">Forum</a>
          <div class="w3-dropdown-content w3-bar-block w3-border">
            <% if(isAuthenticated){ %>
              <a class="w3-bar-item w3-button" href="/community/add">Add new</a>
            <% } %>
            <a class="w3-bar-item w3-button" href="/community">View All</a>
          </div>
        </div>

        <div class="w3-dropdown-hover w3-right w3-mobile">
          <a class="w3-bar-item" href="#">Account</a>
          <div class="w3-dropdown-content w3-bar-block w3-border">
            <% if(isAuthenticated){ %>
              <a class="w3-bar-item w3-button" href="/profile">Profile</a>
              <a class="w3-bar-item w3-button" href="/logout">Logout</a>
            <% }else{ %>
              <a class="w3-bar-item w3-button" href="/login">Login</a>
              <a class="w3-bar-item w3-button" href="/signup">SignUp</a>
            <% } %>
          </div>
        </div>
        <a class="w3-bar-item w3-right w3-mobile" href="/signup"> Past Deals </a>
        <a class="w3-bar-item w3-right w3-mobile" href="/signup"> Our Story </a>
      </div>

    </div>-->
