<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126294820-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126294820-1');
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1482111765221792');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=1482111765221792&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<!-- Hotjar Tracking Code for www.onedistin.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1015846,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onedistin - Great Deals Everyday @ 12:00 midnight.</title>
    <meta name="description" content="Onedistin is a daily deal Company that offers a single and very cheap item every 24 hours(at 12:00 midnight) to save the butts of many individuals trying save some money.Buy quality items at low as a discount of 90% on an item.">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  </head>
  <body style="position:relative">
    <header id="header">
      <nav class="clearfix">
    <a class="logo" href="/"> <img class="w3-center" src="/img/onedistin_logo.png" alt=""> </a>
      <ul class="links">

        <li class="main">
          <a href="#" title="what is onedistin">
            <i style="background-image: url('../img/faq.png')"></i>
            <p>What's Distin?</p>
          </a>
          <ul style="overflow:hidden" class="content w3-round-xlarge">
            <a href="/our-story"><li>Our Story</li></a>
            <a href="/support"><li>Customer Support</li></a>
          </ul>
        </li>
        <li>
          <a href="/pastdeals" title="past deals">
            <i style="background-image: url('../img/pastdeals.png')"></i>
            <p>past deals</p>
          </a>
        </li>
        <li class="main">
          <a href="#" title="account">
            <i style="background-image: url('../img/account.png')"></i>
            <p>account</p>
          </a>
          <ul style="overflow:hidden" class="content w3-round-xlarge">
            <% if(isAuthenticated){ %>
              <a href="/profile"><li>profile</li></a>
              <a href="/logout"><li>logout</li></a>
            <% }else{ %>
              <a href="/login"><li>login</li></a>
              <a href="/signup"><li>signUp</li></a>
            <% } %>


          </ul>
        </li>
        <% if(isAuthenticated){ %>
          <li class="main">
            <a href="/thesavers" title="rewards">
              <i style="background-image: url('../img/reward.png')"></i>
              <p>theSavers</p>
            </a>
            <!--<ul style="overflow:hidden" class="content w3-round-xlarge">
              <a href="/thesavers"><li>Introduce a Friend</li></a>
              <a href="/rewards"><li>rewards</li></a>
            </ul>-->
          </li>
        <% } %>
        <li>
          <a href="/forum" title="community">
            <i style="background-image: url('../img/community.png')"></i>
            <p>community</p>
          </a>
        </li>
        <li>
          <a href="/sell" title="sell on onedistin">
            <i style="background-image: url('../img/bar-chart.png')"></i>
            <p>sell on onedistin</p>
          </a>
        </li>

      </ul>
</nav>
    </header>
    <!--<div id="header" style="width:80%" class="w3-col w3-bar w3-padding">
      <a class="w3-bar-item w3-wide" href="/">
        <img id="logo" src="/img/onedistin_logo.png" alt="">
      </a>
      <div style="margin-top: 20px;margin-right:20px;">
        <div class="w3-dropdown-hover w3-right w3-mobile">
          <a class="w3-bar-item" href="#">Forum</a>
          <div class="w3-dropdown-content w3-bar-block w3-border">
            <% if(isAuthenticated){ %>
              <a class="w3-bar-item w3-button" href="/forum/add">Add new</a>
            <% } %>
            <a class="w3-bar-item w3-button" href="/forum">View All</a>
          </div>
        </div>

        <div class="w3-dropdown-hover w3-right w3-mobile">
          <a class="w3-bar-item" href="#">Account</a>
          <div class="w3-dropdown-content w3-bar-block w3-border">
            <% if(isAuthenticated){ %>
              <a class="w3-bar-item w3-button" href="/profile">Profile</a>
              <a class="w3-bar-item w3-button" href="/logout">Logout</a>
            <% }else{ %>
              <a class="w3-bar-item w3-button" href="/login">Login</a>
              <a class="w3-bar-item w3-button" href="/signup">SignUp</a>
            <% } %>
          </div>
        </div>
        <a class="w3-bar-item w3-right w3-mobile" href="/signup"> Past Deals </a>
        <a class="w3-bar-item w3-right w3-mobile" href="/signup"> Our Story </a>
      </div>

    </div>-->
