<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Han</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Montserrat|Kirang+Haerang" rel="stylesheet">
  </head>
  <body style="position:relative">
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/e4eff813b779947c542d8c324/8748453e3959f82fb1ecc496d.js");</script>
    <header id="header">
      <nav class="clearfix">
    <a class="logo" href="/"> <img class="w3-center" src="/img/onedistin_logo.png" alt=""> </a>
      <ul class="links">

        <li class="main">
          <a href="#" title="what is onedistin">
            <i style="background-image: url('../img/faq.png')"></i>
            <p>What is OneDistin</p>
          </a>
          <ul class="content">
            <li>Our Story</li>
            <li>Customer Support</li>
          </ul>
        </li>
        <li>
          <a href="/pastdeals" title="past deals">
            <i style="background-image: url('../img/pastdeals.png')"></i>
            <p>Past Deals</p>
          </a>
        </li>
        <li class="main">
          <a href="#" title="account">
            <i style="background-image: url('../img/account.png')"></i>
            <p>Account</p>
          </a>
          <ul class="content">
            <% if(isAuthenticated){ %>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
            <% }else{ %>
              <li> <a href="/login">Login</a></li>
              <li><a href="/signup">SignUp</a></li>
            <% } %>


          </ul>
        </li>
        <li>
          <a href="/rewards" title="rewards">
            <i style="background-image: url('../img/reward.png')"></i>
            <p>Rewards</p>
          </a>
        </li>
        <li>
          <a href="/forum" title="community">
            <i style="background-image: url('../img/community.png')"></i>
            <p>Community</p>
          </a>
        </li>

      </ul>
</nav>
    </header>
    <!--<div id="header" style="width:80%" class="w3-col w3-bar w3-padding">
      <a class="w3-bar-item w3-wide" href="/">
        <img id="logo" src="/img/onedistin_logo.png" alt="">
      </a>
      <div style="margin-top: 20px;margin-right:20px;">
        <div class="w3-dropdown-hover w3-right w3-mobile">
          <a class="w3-bar-item" href="#">Forum</a>
          <div class="w3-dropdown-content w3-bar-block w3-border">
            <% if(isAuthenticated){ %>
              <a class="w3-bar-item w3-button" href="/forum/add">Add new</a>
            <% } %>
            <a class="w3-bar-item w3-button" href="/forum">View All</a>
          </div>
        </div>

        <div class="w3-dropdown-hover w3-right w3-mobile">
          <a class="w3-bar-item" href="#">Account</a>
          <div class="w3-dropdown-content w3-bar-block w3-border">
            <% if(isAuthenticated){ %>
              <a class="w3-bar-item w3-button" href="/profile">Profile</a>
              <a class="w3-bar-item w3-button" href="/logout">Logout</a>
            <% }else{ %>
              <a class="w3-bar-item w3-button" href="/login">Login</a>
              <a class="w3-bar-item w3-button" href="/signup">SignUp</a>
            <% } %>
          </div>
        </div>
        <a class="w3-bar-item w3-right w3-mobile" href="/signup"> Past Deals </a>
        <a class="w3-bar-item w3-right w3-mobile" href="/signup"> Our Story </a>
      </div>

    </div>-->
