<% include ../partials/header.ejs %>
<style media="screen">
  h3,li {
    text-align:left
  }
  ol {
    padding-left: 14px
  }
  li>p {
    font-size:22px;
  }
</style>
  <div class="w3-row">
    <div class="w3-third">
.
    </div>
    <div class="w3-third w3-mobile w3-center">
      <h3 class="muli-semi-bold" style="font-size:36px">Ipay Payment</h3>

      <form>
        <input type="hidden" name="invoiceId">
        <input type="hidden" value="<%= data.item_title %>" name="p_t">
        <input type="hidden" value="<%= data.item_cat %>" name="cat">
        <input type="hidden" value="<%= data.item_det %>" name="ref_f_i_d" >
        <dl>
          <dt> <label>Username</label> </dt>
          <dd> <input type="text" name="user_name" value="<%= data.user_name %>" required> </dd>
          <dt> <label>Network Provider</label> </dt>
          <dd> <select name="provider">
            <option value="mtn">Mtn</option>
            <option value="Vodafone">Vodafone</option>
            <option value="aitel">Airtel</option>
            <option value="tigo">Tigo</option>
          </select> </dd>
          <dt> <label>Payment Number</label> </dt>
          <dd> <input type="text" name="order_phone"> </dd>
        </dl>
        <button type="button" style="margin-bottom:10px;width:100%;" class="w3-button ipay-initiate button-color w3-round-xxlarge w3-margin-top" name="button"><h3 style="margin:0;font-size: 22px;line-height:46px;text-align:center">Send me Approval</h3></button>
        <button type="button" style="display:none;margin-bottom:10px;width:100%;" class="w3-button ipay-validate button-color w3-round-xxlarge w3-margin-top" name="button"><h3 style="margin:0;font-size: 22px;line-height:46px;text-align:center">I'm done Paying</h3></button>
      </form>

    </div>
    <div class="w3-third">

    </div>
  </div>

  <script src="/js/ipay.js"></script>
