
<% include partials/header.ejs %>
<style media="screen">
  .custom-footer-color {
    background-color: #000;
  }
</style>
  <div class="w3-row">
    <div class="w3-quarter">
.
    </div>
    <div class="w3-half w3-mobile w3-center">
      <img width="100%" src="https://media.giphy.com/media/3ohzdYv6oVH6FvpaEw/giphy.gif" alt="">
      <h3>Woo Hoo...</h3>
      <p style="text-align:left"><b>Thank you for purchasing today’s distin.</b> <br>
Your order will be delivered within (depending on the delivery option chosen). <b>Tick Tock</b></p>
<h3 style="text-align:left">Now share this deal to earn 20 reward points. You can redeem your points here</h3>

<div style="width:100%;text-align:left;font-size:24px;border:2px solid #000" class="panel w3-padding w3-round">
    <i class="fa fa-quote-left"></i> I just saved GHS 20 on this deal on @onedistin. Want to get one? <i class="fa fa-quote-right"></i>
</div>
      <button style="margin-bottom:10px;width:100%;" class="w3-button w3-blue w3-round-xlarge w3-margin-top" type="submit" name="button"><h3 style="margin:0">Inform your paddies!</h3></button>
      <br><br><br><br><br><br><br><br><br>
    </div>
    <div class="w3-quarter">

    </div>
  </div>

  <% include partials/footer.ejs %>
