
<% include ../partials/header.ejs %>
<style media="screen">
  .custom-footer-color {
    background-color: #000;
  }
</style>
  <div class="w3-row">
    <div class="w3-quarter">
.
    </div>
    <div class="w3-half w3-mobile w3-padding w3-center">
      <!--<img width="100%" src="https://media.giphy.com/media/3ohzdYv6oVH6FvpaEw/giphy.gif" alt="">-->
      <img width="50%" src="/img/onedistin_head.png" alt="">
      <h3 style="text-align:left">Awwwwww...</h3>
      <p style="text-align:left">We hate to see you go. <br>

      <h3 style="margin:0"><a href="/support" style="margin-bottom:10px;width:100%;" class="w3-button button-color w3-round-xxlarge w3-text-white w3-margin-top">Tell us what went wrong</a></h3>
      <br><br><br><br><br><br><br><br><br>
    </div>
    <div class="w3-quarter">

    </div>
  </div>
