
<% include ../partials/header.ejs %>
<style media="screen">
  .custom-footer-color {
    background-color: #000;
  }
</style>
  <div class="w3-row">
    <div class="w3-quarter">
.
    </div>
    <div class="w3-half w3-mobile w3-padding w3-center">
      <!--<img width="100%" src="https://media.giphy.com/media/3ohzdYv6oVH6FvpaEw/giphy.gif" alt="">-->
      <img width="50%" src="/img/onedistin_head.png" alt="">
      <h3 style="text-align:left">Woo Hoo...</h3>
      <p style="text-align:left">Thank you for purchasing today’s distin.<br>
      A customer care agent will call you within 24hours.</p>
        <br><br><br><br><br><br><br><br><br>
    </div>
    <div class="w3-quarter">

    </div>
  </div>
