
<% include ../partials/header.ejs %>
<style media="screen">
  .custom-footer-color {
    background-color: #000;
  }
</style>
  <div class="w3-row">
    <div class="w3-quarter">
.
    </div>
    <div class="w3-half w3-mobile w3-center">
      <img width="100%" src="https://media.giphy.com/media/3ohzdYv6oVH6FvpaEw/giphy.gif" alt="">
      <h3>Awwwwww...</h3>
      <p style="text-align:left">We hate to see you go. <br>
        But if you have a change of heart, this deal is still here for you. <br>
        Or you can tell us why you need to go. <br>
        Better still you can tell us what your interests are and we will notify you on whatsapp when we have such deals <br> </p>

      <p style="text-align:left"><b>Enter Whatsapp number</b></p> <input class="w3-input"  placeholder="eg. 0244444444" style="font-size:30px">
      <button style="margin-bottom:10px;width:100%;" class="w3-button w3-blue w3-round-xlarge w3-margin-top" type="submit" name="button"><h3 style="margin:0">Done! I'm out</h3></button>
      <br><br><br><br><br><br><br><br><br>
    </div>
    <div class="w3-quarter">

    </div>
  </div>

  <% include ../partials/footer.ejs %>
