<% include partials/header.ejs %>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <div class="w3-row w3-margin-top">
      <div class="w3-quarter w3-container">

      </div>
      <div class="w3-half w3-light-grey w3-mobile w3-container">
        <h2 class="w3-margin-left">Write your post</h2>
        <form class="w3-container w3-margin-bottom" action="/forum/add" method="POST">
          <input class="w3-input w3-border w3-border-teal w3-margin-top w3-margin-bottom w3-center" placeholder="Enter title of your post" type="text" name="title" value="">
          <textarea placeholder="##what is your spit all about##" class="summernote w3-margin-top" style="resize:none" name="body" rows="8" cols="80"></textarea>
          <button style="margin-bottom:10px;width:100%;" class="w3-button w3-blue w3-round-xlarge w3-margin-top" type="submit" name="button"><h3 style="margin:0">I'm done! Put it there!</h3></button>
        </form>

      </div>
      <div class="w3-quarter w3-bold w3-container">

      </div>
    </div>


    <script>
      $(document).ready(function() {
          $('.summernote').summernote();
      });
    </script>
  </body>
</html>
