<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="w3-panel">
  <div class="w3-panel w3-teal">
    <h1 class="w3-center">Welcome</h1>
    <h4 class="w3-center">Yo, our new Distiner what's up?</h4>
  </div>
  <div class="w3-container w3-margin">
    <h5>Thank you $fullname for creating an account with <a href="https://onedistin.herokuapp.com">Onedistin.com<a/></h5>
    <h5><u>Account info:</u></h5>
    <h5> <b class="w3-text-teal">Email:</b> $email <br> <b class="w3-text-teal">Username:</b> $username <br> <b class="w3-text-teal">Password:</b> $password </h5>
  </div>
  <hr>
  <div class="w3-center">
    <i style="color:#fff;background-color:#3B5998;margin-bottom:5px;font-size:15px;width:30px;height:30px;text-align:center;line-height:30px" class="fa w3-circle fa-facebook"></i> Like us on Facebook
    <i style="color:#fff;background-color:#2f87d2;margin-bottom:5px;font-size:15px;width:30px;height:30px;text-align:center;line-height:30px" class="fa w3-circle fa-twitter"></i> Follow us on Twitter
    <i style="color:#fff;background-color:#500f36;margin-bottom:50px;font-size:15px;width:30px;height:30px;text-align:center;line-height:30px" class="fa w3-circle fa-instagram"></i> Follow us on Instagram
  </div>
  <div class="w3-panel w3-teal">
    <h1 style="text-align:center">See ya!</h1>
    <p>Onedistin is a daily deal company that offer a very very cheap deal which costs almost like stealing the item from a shop. Always visit Onedistin on daily basis in order to be updated with what the next next to free item is</p>
  </div>
</div>
