<% include partials/header.ejs %>
  <div class="w3-row">
    <div class="w3-quarter">
.
    </div>
    <div class="w3-half w3-mobile w3-center">
      <h1> <img src="https://media.giphy.com/media/EFXGvbDPhLoWs/giphy-downsized.gif" alt=""> </h1>
    </div>
    <div class="w3-quarter">

    </div>
  </div>
