<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126294820-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126294820-1');
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1482111765221792');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=1482111765221792&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<!-- Hotjar Tracking Code for www.onedistin.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1015846,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduce</title>
    <meta name="description" content="The page you are looking for could not be found">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  </head>
  <body style="position:relative">
<% include partials/header.ejs %>
<style>
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
 p, h1 {
   text-align: left;
 }
 p {
   margin-top: 0;
 }

 h2 {
   font-size: 28px;
   font-weight: normal!important;
   text-align: left;
   margin: 0;
   padding: 0;
 }

 .progress {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }
 .progress span {
   width: 25px;
   height: 25px;
   margin: 2px;
   border-radius: 50%;
   background-color: #595b5d;
   color: #fff;
   font-weight: bolder;
   display: grid;
   align-items: center;
   text-align: center;
 }
 .progress span.active {
   background-color: #2196F3;
 }
 hr {
   margin-top: -10px;
 }
</style>
<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row w3-center">
      <div class="w3-quarter w3-container">

      </div>
      <div style="margin-bottom:300px" class="w3-half w3-center w3-mobile w3-container w3-animate-bottom">
          <h1>theSavers</h1>
          <h2 style="margin-top: -20px;margin-bottom: 16px" class="w3-text-grey">You know you want in…</h2>
          <hr>

          <h2>Who are theSavers?</h2>
  <p>theSavers are Onedistin’s brand ambassadors. They are a community committed to getting the best bargains and empowering others to do the same. theSavers connect with one another online and in real life (IRL) and get unique access to Onedistin, invites to private events and exclusive content. Side note: They also get Onedistin swag.</p>
          <h2>What would I do?</h2>
  <p>Spread the word about Onedistin in your place of work, campus, network, family, those random Facebook and Twitter friends...</p>
  <p> Use a unique link that gives you credit for getting people to subscribe to the daily deal alert.</p>
  <p>Wear Onedistin swag around town.</p>
  <p>Give feedback and brainstorm with the Onedistin team.</p>
          <h2>What would I get?</h2>
  <p>A Onedistin diary</p>
  <p>A Onedistin backpack</p>
  <p>A Onedistin phone case</p>
  <p>Free delivery on all purchases for 12 months.</p>
  <p>An invite to our private Savers’ Facebook group where you can connect and network with other Savers and get free self-improvement resources.</p>
  <p>Extra birthday love</p>
  <p>Partnership perks. Exclusives with our partner brands.</p>
          <h2>How do I start?</h2>
  <p>Use your unique personal link to get 10 friends to subscribe to the daily deal alerts.</p>
  <p>Click below to get started.</p>
  <% if(isSaver){ %>
    <button id="share" style="margin-bottom:10px;width:100%;" class="w3-button button-color w3-round-xxlarge w3-margin-top">
    <a class="w3-text-white" href="/thesavers" style="color:inherit" ><h3 style="margin:0;font-size:22px" class="muli-regular">Back to my progress</h3></a>
    </button>
  <% }else{ %>
    <button id="share" style="margin-bottom:10px;width:100%;" class="w3-button button-color w3-round-xxlarge w3-margin-top">
    <a class="w3-text-white" href="/thesavers/start" style="color:inherit" ><h3 style="margin:0;font-size:22px" class="muli-regular">Get started now!</h3></a>
    </button>
  <% } %>


      </div>
      <div class="w3-quarter w3-container">

      </div>
