<% include partials/header.ejs %>
<style>
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

/*.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
</style>
<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row w3-center">
      <div class="w3-quarter w3-container">

      </div>
      <div style="margin-bottom:300px" class="w3-half w3-center w3-mobile w3-container w3-animate-bottom">
        <h1>Introduce a friend</h1>
        <p style="text-align:left">Give a friend 100 points when you introduce them to onedistin and Get 100 points when they make their first purchase.</p>
          <button id="share" style="margin-bottom:10px;width:100%;" class="w3-button button-color w3-round-xxlarge w3-margin-top" onmouseout="outFunc()">
            <a class="w3-text-white" href="whatsapp://send?text=Want to get great discount deals every day? Click the link to create an account on Onedistin and get free 100 points. http://onedistin.herokuapp.com/signup?referer=<%= refId %>" style="color:inherit" ><h3 style="margin:0;font-size:22px" class="muli-regular">Introduce Friends</h3></a>
          </button>
      </div>
      <div class="w3-quarter w3-container">

      </div>

      <script>
      </script>
  </body>
</html>
