<% include partials/header.ejs %>
<style media="screen">
  p,h1 {
    text-align: left;
  }
</style>
    <div class="w3-row w3-margin-top">
      <div class="w3-quarter w3-container">

      </div>
      <div class="w3-half w3-center w3-mobile w3-container">
        <!--<img width="100%" src="https://media.giphy.com/media/3ohzdYv6oVH6FvpaEw/giphy.gif" alt="">-->
        <img width="50%" src="/img/onedistin_head.png" alt="">
        <h1>Congratulations,</h1>
        <p>You've successfully redeemed your reward. Your reward will be applied to your next purchase.</p>
        <p><a href="/introduce">Invite a friend</a> to earn points.</p>
        <div style="width:100%">

        </div>
      </div>
      <div class="w3-quarter w3-bold w3-container">

      </div>
    </div>

  </body>
</html>
