<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125049555-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125049555-1');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  </head>
  <body>
    <style media="screen">
      body {
        background: #e9ebee;
      }
    </style>
        <div class="w3-row">
          <div style="color: #a9a9a9" class="w3-third w3-container">

          </div>
          <div style="padding-top:50px" class="w3-col w3-center center-card w3-center w3-white w3-border w3-card-4 w3-mobile w3-container w3-animate-bottom">
            <p style="font-size: 56px;margin:0;" class="w3-round  mobile-inline-margin-top muli-semi-bold">Choose new password</p>

            <form action="/reset" method="POST">
              <input type="hidden" name="phone" value="<%= data.phone %>">
              <input type="hidden" name="id" value="<%= data.id %>">
              <dl>
                <dt> <label>Password</label> </dt>
                <dd> <input name="password" type="text" placeholder="Password" required></dd>
                <dt> <label>Confirm Password</label> </dt>
                <dd> <input name="confirm_password" type="text" placeholder="Confirm Password" required></dd>
              </dl>
              <h1 id="contact"></h1>
              <button style="margin-bottom:10px;width:100%;" class="w3-button button-color-inverse w3-round-xxlarge w3-margin-top" type="submit" name="button"><p class="w3-text-white" style="margin:0;font-size:22px">Reset</p></button>
            </form>

          </div>
          <div class="w3-third w3-bold w3-container">

          </div>
        </div>



  </body>
</html>
