<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126294820-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126294820-1');
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '1482111765221792');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=1482111765221792&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<!-- Hotjar Tracking Code for www.onedistin.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1015846,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rewards</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  </head>
  <body style="position:relative">
<% include partials/header.ejs %>
<style media="screen">
  body {
    /*background: #fff/*var(--main-color)*/
    background-color: #fff;
  }
  .w3-hide {
    text-align: left!important;
  }
</style>
<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row w3-center">
      <div class="w3-quarter w3-container">

      </div>
      <div style="margin-bottom:300px" class="w3-half w3-center w3-mobile w3-container w3-animate-bottom">
        <p>YOUR REWARD BALANCE:</p>
        <h1 class="w3-padding"><b><%= pointData.active_points %></b> points</h1>
        <!--<p>Accumulated since <b>31st Dec 1956</b></p>-->
<hr>
          <div class="w3-row">
            <h3 style="text-align:left"><b>Turn your points into discounts</b></h3>
            <div style="width:31%;margin:1%" class="w3-mobile w3-col w3-round-xxlarge w3-border">
              <div style="margin-top:0" class="w3-panel w3-border-bottom">
                <h4 style="text-align:left; margin: 40px 0"><b> Free Delivery</b></h4>
              </div>
              <div class="w3-white w3-border-bottom w3-round-xxlarge w3-padding">
                <a class="w3-button button-color-inverse w3-text-white w3-border w3-round-xxlarge w3-small" style="font-weight:bolder" href="/redeem/free-delivery">redeem</a>
                <span class="w3-small">300 points</span>
              </div>
            </div>
            <div style="width:31%;margin:1%" class="w3-mobile w3-col w3-round-xxlarge w3-border">
              <div style="margin-top:0" class="w3-panel w3-border-bottom">
                <h4 style="text-align:left; margin: 40px 0"><b>5% off</b></h4>
              </div>
              <div class="w3-white w3-border-bottom w3-round-xxlarge w3-padding">
                <a class="w3-button button-color-inverse w3-text-white w3-border w3-round-xxlarge w3-small" style="font-weight:bolder" href="/redeem/5-off">redeem</a>
                <span class="w3-small">600 points</span>
              </div>
            </div>
            <div style="width:31%;margin:1%;padding:0" class="w3-mobile w3-col w3-round-xxlarge w3-border">
              <div style="margin-top:0" class="w3-panel w3-border-bottom">
                <h4 style="text-align:left; margin: 40px 0"><b>10% off</b></h4>
              </div>
              <div class="w3-white w3-border-bottom w3-round-xxlarge w3-padding">
                <a class="w3-button button-color-inverse w3-text-white w3-border w3-round-xxlarge w3-small" style="font-weight:bolder" href="/redeem/10-off">redeem</a>
                <span class="w3-small">1000 points</span>
              </div>
            </div>
          </div>
<hr>
          <span style="cursor:pointer" onclick="myFunction('faq1')" class="w3-padding w3-block w3-left-align w3-border w3-round-large"><b>How do I earn points? <span class="w3-right"> <i class="fa fa-angle-down"></i> </b></span> </span>
            <div id="faq1" class="w3-hide w3-container">
              <table class="w3-table-all">
                <tr>
                  <td class="w3-large">Make a Purchase</td>
                  <td class="w3-large">Share today's distin</td>
                  <!--<td class="w3-large">Download App</td>-->
                </tr>
                <tr>
                  <td>Earn 100 points</td>
                  <td>Earn 20 points</td>
                  <!--<td>Earn 50 points</td>-->
                </tr>
              </table>
            </div>
          <span style="cursor:pointer" onclick="myFunction('fag2')" class="w3-padding w3-block w3-left-align w3-border w3-round-large"><b>How do I use my points? <span class="w3-right"> <i class="fa fa-angle-down"></i> </b></span> </span>
            <div id="fag2" class="w3-hide w3-container">
              <p> Redeem your points for coupons and get extra discounts <br> Tap on the <b>Redeem</b> tab to get started </p>
            </div>
          <span style="cursor:pointer" onclick="myFunction('faq3')" class="w3-padding w3-block w3-left-align w3-border w3-round-large"><b>What about coupon codes? <span class="w3-right"> <i class="fa fa-angle-down"></i> </b></span> </span>
            <div id="faq3" class="w3-hide w3-container">
              <p>Enter a coupon code during checkout to activate your coupon reward.</p>
            </div>
          <span style="cursor:pointer" onclick="myFunction('fag4')" class="w3-padding w3-block w3-left-align w3-border w3-round-large"><b>Do my points expire? <span class="w3-right"> <i class="fa fa-angle-down"></i> </b></span> </span>
            <div id="fag4" class="w3-hide w3-container">
              <p>Think of it like your money in the bank. Does it expire? Great!</p>
            </div>

      </div>
      <div class="w3-quarter w3-container">

      </div>
      <script>
      function myFunction(id) {
          var x = document.getElementById(id);
          if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
              //x.previousElementSibling.className = x.previousElementSibling.className.replace("w3-light-grey", "w3-blue-grey");
          } else {
              x.className = x.className.replace(" w3-show", "");
            //  x.previousElementSibling.className = x.previousElementSibling.className.replace("w3-blue-grey", "w3-light-grey");
          }
      }
      </script>
  </body>
</html>
