<% include partials/header.ejs %>
<style media="screen">
  body {
    /*background: #fff/*var(--main-color)*/
    background-color: #fff;
  }
</style>
<!--<div style="position:absolute;top:12%;left:0;right:0;z-index:-1;opacity:0.3">
  <img style="width:100%" src="img/nice4.jpg" alt="">
</div>-->
    <div class="w3-row w3-center">
      <div class="w3-quarter w3-container">

      </div>
      <div style="margin-bottom:300px" class="w3-half w3-center w3-mobile w3-container w3-animate-bottom">
        <p>YOUR REWARD BALANCE:</p>
        <h1 class="w3-padding"><b><%= pointData.active_points %></b> points</h1>
        <p>Accumulated since <b>31st Dec 1956</b></p>
<hr>
          <div class="w3-row">
            <h3 style="text-align:left"><b>Turn your points into discounts</b></h3>
            <div style="width:31%;margin:1%" class="w3-col w3-round-xlarge w3-border">
              <div style="margin-top:0" class="w3-panel w3-border-bottom">
                <h2 style="text-align:left; margin: 40px 0"><b> Free Delivery</b></h2>
              </div>
              <div class="w3-white w3-round-xlarge w3-padding">
                <a class="w3-button w3-border w3-round-xlarge" href="/redeem/free-delivery">redeem</a>
                <span>300 points</span>
              </div>
            </div>
            <div style="width:31%;margin:1%" class="w3-col w3-round-xlarge w3-border">
              <div style="margin-top:0" class="w3-panel w3-border-bottom">
                <h2 style="text-align:left; margin: 40px 0"><b>5% off</b></h2>
              </div>
              <div class="w3-white w3-round-xlarge w3-padding">
                <a class="w3-button w3-border w3-round-xlarge" href="/redeem/5-off">redeem</a>
                <span>600 points</span>
              </div>
            </div>
            <div style="width:31%;margin:1%;padding:0" class="w3-col w3-round-xlarge w3-border">
              <div style="margin-top:0" class="w3-panel w3-border-bottom">
                <h2 style="text-align:left; margin: 40px 0"><b>10% off</b></h2>
              </div>
              <div class="w3-white w3-round-xlarge w3-padding">
                <a class="w3-button w3-border w3-round-xlarge" href="/redeem/10-off">redeem</a>
                <span>1000 points</span>
              </div>
            </div>
          </div>
<hr>
          <span style="cursor:pointer" onclick="myFunction('faq1')" class="w3-padding w3-block w3-left-align w3-border w3-round-large"><b>How do I earn points? <span class="w3-right"> <i class="fa fa-angle-down"></i> </b></span> </span>
            <div id="faq1" class="w3-hide w3-container">
              <table class="w3-table">
                <tr>
                  <td class="w3-large">Make a Purchase</td>
                  <td class="w3-large">Share today's distin</td>
                  <td class="w3-large">Download App</td>
                </tr>
                <tr>
                  <td>Earn 100 points</td>
                  <td>Earn 20 points</td>
                  <td>Earn 50 points</td>
                </tr>
              </table>
            </div>
          <span style="cursor:pointer" onclick="myFunction('fag2')" class="w3-padding w3-block w3-left-align w3-border w3-round-large"><b>How do I use my points? <span class="w3-right"> <i class="fa fa-angle-down"></i> </b></span> </span>
            <div id="fag2" class="w3-hide w3-container">
              <p>Redeem your points for coupons and get extra discounts <br> Tap on the <b>Redeem</b> tab to get started </p>
            </div>
          <span style="cursor:pointer" onclick="myFunction('faq3')" class="w3-padding w3-block w3-left-align w3-border w3-round-large"><b>How do I use my coupon? <span class="w3-right"> <i class="fa fa-angle-down"></i> </b></span> </span>
            <!--<div id="faq3" class="w3-hide w3-container">
              <p>Lorem ipsum...</p>
            </div>-->
          <span style="cursor:pointer" onclick="myFunction('fag4')" class="w3-padding w3-block w3-left-align w3-border w3-round-large"><b>Do my points expire? <span class="w3-right"> <i class="fa fa-angle-down"></i> </b></span> </span>
            <!--<div id="fag4" class="w3-hide w3-container">
              <p>Lorem ipsum...</p>
            </div>-->

      </div>
      <div class="w3-quarter w3-container">

      </div>
      <script>
      function myFunction(id) {
          var x = document.getElementById(id);
          if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
              //x.previousElementSibling.className = x.previousElementSibling.className.replace("w3-light-grey", "w3-blue-grey");
          } else {
              x.className = x.className.replace(" w3-show", "");
            //  x.previousElementSibling.className = x.previousElementSibling.className.replace("w3-blue-grey", "w3-light-grey");
          }
      }
      </script>
  </body>
</html>
