<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125049555-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125049555-1');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onedistin</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  </head>
  <body>
<style media="screen">
  body {
    background: #e9ebee;
  }
</style>
    <div class="w3-row">
      <div class="w3-quarter w3-container">

      </div>
      <div style="padding-top:50px" class="w3-half w3-white w3-border w3-center w3-card-4 w3-mobile w3-container w3-animate-bottom">
        <p style="font-size: 56px;margin:0" class="w3-round muli-semi-bold">Sign Up</p>
        <form style="padding:0" onsubmit="return validate_signup()" class="w3-container w3-margin-bottom" action="/signup" method="POST">

          <span class="errs">
            <span class="username"></span>
            <span class="fullname"></span>
            <span class="phone"></span>
            <span class="email"></span>
            <span class="pass"></span>
            <span class="validate"></span>
          </span>

          <dl>
            <dt> <label>USERNAME</label> </dt>
            <dd><input name="username" type="text" minlength="1" placeholder="Username"></dd>
            <dt> <label>FULLNAME</label> </dt>
            <dd> <input name="fullname" type="text" minlength="1" placeholder="Full name"></dd>
            <dt> <label>GENDER</label> </dt>
            <dd> <select name="gender">
              <option value="0">Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select> </dd>
            <dt> <label>EMAIL</label> </dt>
            <dd> <input name="email" type="email" placeholder="Email"></dd>
            <dt> <label>PHONE</label> </dt>
            <dd> <input name="phone" type="phone" minlength="10" placeholder="Phone"></dd>
            <dt> <label>REGION</label> </dt>
            <dd> <select name="region">
              <option value="0">Region</option>
              <option value="Ashanti">Ashanti</option>
              <option value="Brong Ahafo">Brong Ahafo</option>
              <option value="Central">Central</option>
              <option value="Eastern">Eastern</option>
              <option value="Greater Accra">Greater Accra</option>
              <option value="Northern">Northern</option>
              <option value="Upper East">Upper East</option>
              <option value="Upper West">Upper West</option>
              <option value="Volta">Volta</option>
              <option value="Western">Western</option>
            </select></dd>
            <% if(referer != 0){ %>
              <dt> <label>referer</label> </dt>
              <dd> <input style="font-weight: bolder" type="text" value="<%= referer_name %>" disabled></dd>
              <input name="referer" type="hidden" value="<%= referer %>" >
            <% } %>
            <dt> <label>PASSWORD</label> </dt>
            <dd> <input name="password" type="password" placeholder="Password"></dd>
          </dl>
          <p>By signing up, you comply with all our <a href="/privacy">terms and policies.</a></p>
          <button style="margin-bottom:10px;width:100%;" class="w3-button button-color-inverse w3-round-xxlarge w3-margin-top" type="submit" name="button"><h3 style="margin:0;font-size:22px">I'm ready! Open the gate!</h3></button>
          <!--<div style="text-align:center">OR SIGN UP WITH</div>
          <a style="margin-bottom:10px;width:100%;background-color:#3B5998;color:#fff" href="/auth/facebook" class="w3-button w3-hover-indigo w3-round-xxlarge w3-margin-top"><h3 class="w3-text-white" style="margin:0;font-size:22px"> <i style="color:#3B5998!important" class="w3-white w3-padding w3-round fa fa-facebook"></i> Facebook</h3></a>-->
          <h3 style="font-size:16px">ALREADY HAVE AN ACCOUNT? <a href="/login">LOGIN</a> </h3>
        </form>

      </div>
      <div class="w3-quarter w3-bold w3-container">
.
      </div>
    </div>


    <script src="/js/validation.js"></script>
  </body>
</html>
