<% include partials/header.ejs %>
<style media="screen">
  body {
    background: #e9ebee;
  }
</style>
    <div class="w3-row w3-margin-top">
      <div class="w3-third w3-container">
        .
      </div>
      <div class="w3-third w3-white w3-border w3-card-4 w3-mobile w3-container w3-animate-bottom">
        <h3 class="w3-xxxlarge w3-round w3-center">Sign Up</h3>
        <form onsubmit="return validate_signup()" class="w3-container w3-margin-bottom" action="/signup" method="POST">

          <span class="errs"></span>

          <dl>
            <dt> <label>USERNAME</label> </dt>
            <dd><input name="username" type="text" placeholder="Username"></dd>
            <dt> <label>FULLNAME</label> </dt>
            <dd> <input name="fullname" type="text" placeholder="Full name"></dd>
            <dt> <label>GENDER</label> </dt>
            <dd> <select name="gender">
              <option value=""></option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select> </dd>
            <dt> <label>EMAIL</label> </dt>
            <dd> <input name="email" type="email" placeholder="Email"></dd>
            <dt> <label>PHONE</label> </dt>
            <dd> <input name="phone" type="phone" placeholder="Phone"></dd>
            <dt> <label>REGION</label> </dt>
            <dd> <select name="region">
              <option value=""></option>
              <option value="Ashanti">Ashanti</option>
              <option value="Brong Ahafo">Brong Ahafo</option>
              <option value="Central">Central</option>
              <option value="Eastern">Eastern</option>
              <option value="Greater Accra">Greater Accra</option>
              <option value="Northern">Northern</option>
              <option value="Upper East">Upper East</option>
              <option value="Upper West">Upper West</option>
              <option value="Volta">Volta</option>
              <option value="Western">Western</option>
            </select></dd>
            <dt> <label>PASSWORD</label> </dt>
            <dd> <input name="password" type="password" placeholder="Password"></dd>
          </dl>
          <p>Making progress means you comply with all our terms and policies.</p>
          <button style="margin-bottom:10px;width:100%;" class="w3-button w3-blue w3-round-xlarge w3-margin-top" type="submit" name="button"><h3 style="margin:0">I'm ready! Open the gate!</h3></button>
          <div style="text-align:center">OR</div>
          <a style="margin-bottom:10px;width:100%;background-color:#3B5998;color:#fff" href="/auth/facebook" class="w3-button w3-hover-indigo w3-round-xlarge w3-margin-top"><h3 style="margin:0"> <i style="color:#3B5998!important" class="w3-white w3-padding w3-round fa fa-facebook"></i> signup with Facebook</h3></a>
          <h3>Already have an account? <a href="/login">Login</a> </h3>
        </form>

      </div>
      <div class="w3-third w3-bold w3-container">

      </div>
    </div>


    <script src="/js/validation.js"></script>
  </body>
</html>
