<% include partials/header.ejs %>
    <div class="w3-row w3-margin-top">
      <div class="w3-quarter w3-container">

      </div>
      <div class="w3-half w3-light-grey w3-mobile w3-container">
        <img width="100%" src="https://media.giphy.com/media/l41lSR9xZubfd2Qve/giphy.gif" alt="">
        <!--<img width="100%" src="https://media.giphy.com/media/3ohzdYv6oVH6FvpaEw/giphy.gif" alt="">-->
        <h1>OOps,</h1><h3>you don't have enough points</h3>
      </div>
      <div class="w3-quarter w3-bold w3-container">

      </div>
    </div>

  </body>
</html>
