<% include partials/header.ejs %>
    <div class="w3-row w3-margin-top">
      <div class="w3-quarter w3-container">

      </div>
      <div class="w3-half w3-mobile w3-container">
        <img width="100%" src="https://media.giphy.com/media/3ohzdYv6oVH6FvpaEw/giphy.gif" alt="">
        <h1>OOps,</h1>
        you don't have enough points
        <h3>Earn more points</h3>
        <div style="width:100%">
          <hr>
          <div class="w3-row">
            <div class="w3-half">
              <h5>Introduce a friend</h5>
              <p> <b>Give a friend 100 points when you introduce them and get 100 points when they make their first purchase.</b> </p>
            </div>
            <div class="w3-half">
              blah blah <br>
              <button class="w3-button w3-teal w3-round-xlarge" name="button"> Click to share </button>
            </div>
            <!--<div class="w3-col right-lane">
              <h5>Survey not yet available</h5>
            </div>-->
          </div>
        </div>
      </div>
      <div class="w3-quarter w3-bold w3-container">

      </div>
    </div>

  </body>
</html>
