<% include partials/header.ejs %>

<div class="w3-row w3-center">
  <div class="w3-quarter w3-container">

  </div>
  <div style="margin-bottom:300px" class="w3-half w3-center w3-mobile w3-container w3-animate-bottom">
    <h2 style="text-align:left"><b>Our Story</b></h2>
    <hr>
    <h2 style="text-align:left">What is the story here?</h2>
    <p style="text-align:left;padding-left:10px" class="w3-leftbar w3-border-green">
      Four months ago, my friend and I were trying to furnish our new apartment. We had 2 problems. A tight budget and a tight budget. So we went online in search of places we could get some cheap deals. And guess what? We found none. Then one day, a colleague mentioned a special technique he uses to get great deals on anything he wanted. We tried it. And boy oo boy!!! It was like paying half the price for everything. So we tried it again. And again. And again. And again. It wasn’t long before my friend and I started feeling like the average african politician.
    </p>
    <hr>
  </div>
</div>
