<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe for daily alerts on deals</title>
    <meta name="description" content="Subscribe for the Daily Deal Alerts and join the thousands who share a common love for big discounts and low prices.">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/style.css">

    <meta property="og:url"           content="https://www.ondistin.com/sub/<%= ref_user == 'none'? '' : refId %>" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="How I buy very cheap Items" />
    <meta property="og:description"   content="Onedistin is a daily deal company that sells things at a very low price just to benefit you and I" />
    <meta property="og:image"         content="https://www.onedistin.com/img/onedistin_head.png" />
  </head>
  <body>
    <% include partials/header.ejs %>
    <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div class="w3-row">
  <div class="w3-quarter">
.
  </div>
  <div class="w3-half w3-padding w3-mobile w3-center">
    <input type="hidden" name="ref_user" value="<%= ref_user %>">
    <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form onsubmit="return saver()" action="https://onedistin.us19.list-manage.com/subscribe/post?u=f1c7226a1d6725eb641a7cea7&amp;id=38b64d0724" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="">
        <table>
          <tr>
            <td><span style="text-align: center"><span style="font-size:25px!important" class="text-color-inverse">Great deals for the #bargainHunters</span><br><b>The Deal of the Day</b> is delivered to your inbox each AM, <br>telling you what product is on sale and most importantly,<br>how much you can save.</span>
          </div></td>
          </tr>
        </table>

<div style="border: 3px solid #343434;border-radius:10px;margin-top:16px">
  <div class="w3-center">
    <h3 class="w3-center" style="margin-bottom:0">Subscribe for the daily alert</h3>
    <span>and join the thousands who are discovering new deals every morning.</span>
  </div><br>
  <div style="width:80%;margin: 0 auto" class="mc-field-group">
  	<input style="text-align:center" class="w3-input w3-border w3-round" type="text" placeholder="Firstname" value="" name="FNAME" class="" id="mce-FNAME">
  </div>
  <br>
  <div style="width:80%;margin: 0 auto" class="mc-field-group">
  </label>
  	<input style="text-align:center" class="w3-input w3-border w3-round" type="email" value="" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL">
  </div>
  	<div id="mce-responses" class="clear">
  		<div class="response" id="mce-error-response" style="display:none"></div>
  		<div class="response" id="mce-success-response" style="display:none"></div>
  	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f1c7226a1d6725eb641a7cea7_38b64d0724" tabindex="-1" value=""></div>
      <div class="clear"><input style="width: 80%;margin:10px 0" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-color w3-padding w3-round"></div>
</div>

    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
  </div>
  <div class="w3-quarter">

  </div>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='MMERGE2';ftypes[2]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[3]='ADDRESS';ftypes[3]='address';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

<script type="text/javascript">
  function saver() {
    var email = $("[name='EMAIL']").val();
    var user = $("[name='ref_user']").val();
    var data = {
      email: email,
      user: user
    }
    if(email.includes("@") && email.includes(".") && user.trim() != 'none'){
      $.ajax({
        url: '/other/saver/sub',
        method: 'POST',
        data: data,
        success:  function(res){
          return true;
        }
      });
    }else{
      return true;
    }
  }
</script>

  </body>
</html>
