<% include partials/header.ejs %>
<style media="screen">
  h3 {
    font-size: 22px;
    line-height: 22px;
  }
</style>
<div class="w3-row w3-center">
  <div class="w3-quarter w3-container">

  </div>
  <div style="margin-bottom:300px" class="w3-half w3-center w3-mobile w3-container w3-animate-bottom">
    <h3 style="text-align:left"><b>Subscriptions:</b></h3>
    <h4 style="text-align:left">Change email or whatsapp subscriptions.</h4>
    <form action="/profile/subscriptions" method="post">
    <div class="w3-bar-block w3-border w3-round-large w3-container">
      <% var subs = user.subscriptions; %>
      <% if(subs[0] == 1){ %>
        <section class="w3-bar-item"><input name="one" type="checkbox" checked> Onedistin daily deals (email notification) </section>
      <% }else{ %>
        <section class="w3-bar-item"><input name="one" type="checkbox"> Onedistin daily deals (email notification) </section>
      <% } %>
      <% if(subs[1] == 1){ %>
        <section class="w3-bar-item"><input name="two" type="checkbox" checked> Forum notifications (email notification) </section>
      <% }else{ %>
        <section class="w3-bar-item"><input name="two" type="checkbox"> Forum notifications (email notification) </section>
      <% } %>
      <% if(subs[2] == 1){ %>
        <section class="w3-bar-item"><input name="three" type="checkbox" checked> WhatsApp notification </section>
      <% }else{ %>
        <section class="w3-bar-item"><input name="three" type="checkbox"> WhatsApp notification </section>
      <% } %>

    </div>
    <button style="margin-bottom:10px;width:100%;" class="w3-button button-color-inverse w3-round-xxlarge w3-margin-top" type="submit" name="button"><h3 style="margin:0;font-size: 22px;line-height:46px">DassAll! Save it!</h3></button>
    </form>
  </div>
</div>
