<% include partials/header.ejs %>
<style media="screen">
  h1,h3,p {
    text-align:left;
  }
</style>
  <div class="w3-row">
    <div class="w3-quarter">
.
    </div>
    <div style="margin-top:0" class="w3-half w3-padding w3-mobile w3-center">
      <h1 style="margin-bottom:30px">Dear Username,</h1>
      <h3>We have recieved your mail.</h3>
      <h3>We will get back to you as soon as we can</h3>
      <p>Thanks,</p>
      <p><b>Onedistin</b></p>
      <a href="/"><button style="margin-bottom:10px;padding: auto 90px" class="submit-survey w3-left w3-button w3-round-xxlarge w3-margin-top button-color" type="submit" name="button"><p class="custom-txt-color" style="margin:0;font-size:22px" class="muli-regular"> Okay, I'll be waiting </p></button></a>
    </div>
    <div class="w3-quarter">

    </div>
  </div>
