<% include partials/header.ejs %>
<style media="screen">
  span {
    font-size: 24px;
  }
</style>
    <div class="w3-row w3-margin-top">
      <div class="w3-quarter w3-container">

      </div>
      <div class="w3-half w3-border w3-round-xlarge w3-mobile w3-container">
        <h2>Dear Onedistin,</h2>
        <span style="text-align:left">This is about my
        <select name="complaint">
          <option>Account</option>
        </select>
      </span>
        <h3>Here's the issue</h3>
        <textarea name="name" class="w3-input w3-round w3-border" style="height: 150px;"></textarea> <br>
        <span>You can write me back at
        <input class="w3-round-xlarge w3-border w3-padding" type="text" name="" value="yahyafarhan48@gmail.com"> </span> <br>
        <b>OR</b> <br>
        <span>Call me at
        <input class="w3-round-xlarge w3-border w3-padding" type="text" name="" value="0237902030"> </span>

        <h3>Your's truely</h3>
        <span>farhano123</span>
      </div>
      <div class="w3-quarter w3-bold w3-container">

      </div>
    </div>

  </body>
</html>
