<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="image">
      <input type="submit" name="" value="Go">
    </form>
  </body>
</html>
