<% include partials/header.ejs %>
<style media="screen">
  h3,li {
    text-align:left
  }
  ol {
    padding-left: 14px
  }
  li>p {
    font-size:22px;
  }
</style>
  <div class="w3-row">
    <div class="w3-third">
.
    </div>
    <div class="w3-third w3-mobile w3-center">
      <h3 class="muli-semi-bold" style="font-size:36px">Follow these steps to complete your payment.</h3>
      <ol>
        <li>
          <p>Dial <span class="muli-bold">*713*4970*Amount#</span>  </p>
        </li>
        <li>
          <p>Provide the following details <span class="muli-bold">ONLY</span> after a successful payment.</p>
        </li>
      </ol>
      <dl>
        <dt> <label>Username</label> </dt>
        <dd> <input type="text" name="" value=""> </dd>
        <dt> <label>Payment Number</label> </dt>
        <dd> <input type="text" name="" value=""> </dd>
      </dl>
      <button style="margin-bottom:10px;width:100%;" class="w3-button button-color w3-round-xxlarge w3-margin-top" type="button" name="button"><h3 style="margin:0;font-size: 22px;line-height:46px;text-align:center">Done!</h3></button>
    </div>
    <div class="w3-third">

    </div>
  </div>
