<% include partials/header.ejs %>
  <div class="w3-row">
    <div class="w3-quarter">
.
    </div>
    <div style="margin-top:0" class="w3-half w3-mobile w3-center">
      <h1 style="margin-bottom:30px">Thank You</h1>
      <h3>A customer support agent will call as soon as we can confirm your payment.</h3>
      <a href="/"><button style="margin-bottom:10px;padding: auto 90px" class="submit-survey w3-button w3-round-xxlarge w3-margin-top button-color" type="submit" name="button"><p class="custom-txt-color" style="margin:0;font-size:22px" class="muli-regular"> Ookay! </p></button></a>
    </div>
    <div class="w3-quarter">

    </div>
  </div>
