:root {
  --custom-color: #fff;
  --footer-color: #fff;
  --txt-color: #000;
}

a {
  color: #0090ff!important;
}

body {
  font-family: 'Muli',sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background-color: var(--custom-color);
  width: 100%;
}

body,p,ul,li,table {
  font-family: 'Muli',sans-serif;
  color: #000;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

dl.straight dd {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #e0e0e0;
    float: left;
    font-size: 18px;
    height: auto;
    line-height: 56px;
    padding: 0 0 0 16px;
    margin: 0;
    width: 100%;
    text-align: left;
}
dl.straight dd .tag {
  font-size: 12px;
  background-color: #000;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
  color:#fff;
}
dl.straight dd .price {
  float: right;
  margin-right: 10px;
  font-weight: bold;
}
dl {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  border-top: 0;
  overflow: hidden;
}
dl dt {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    clear: both;
    display: table;
    float: left;
    height: 56px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    width: 128px;
}
dl dt label {
    color: gray;
    display: table-cell;
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 0 16px;
    vertical-align: middle;
}
dl dd {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #e0e0e0;
    float: left;
    font-size: 18px;
    height: 56px;
    line-height: 56px;
    padding: 0;
    margin: 0;
    width: calc(100% - 128px);
}
dl dd input, dl dd select {
    -webkit-appearance: none;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    padding: 0 16px 0 16px;
    height: 100%;
    width: 100%;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.middle-lane h1 {
  font-family: 'Muli', sans-serif!important;
  font-size: 45px!important;
  line-height: 45px;
  text-align: left;
  font-weight: normal;
  color: #000000;
}

.middle-lane p,span,li,ul,ol {
  font-family: 'Muli', sans-serif!important;
  font-size: 16px!important;
  text-align: left;
  color: #000000;
}



#header {
    margin: 0 0 16px 0;
}

#header nav {
    border-bottom: 2px solid #343433 !important;
    margin: 0 auto;
    padding: 16px 16px 0 16px;
    height: auto;
    width: 1142px;/*992px;*/
    position: relative;
}

.linky-button:hover {
  background-color: #6cb4ea!important;
}

.button-color {
  background-color: #212e38;
  color: var(--custom-color)
}

.button-color:hover {
  background-color: #484b4e!important;
}

.button-color-inverse {
  background-color: #fbbf14;
  color: #fff;
}
.text-color-inverse {
  color: #fbbf14;
}

.button-color-inverse:hover {
  background-color: #dcae2c!important;
  color: #fff!important;
}

#header nav a.logo img {
    background-repeat: no-repeat;
    background-size: 750px 96px;
    background-position: -4px -55px;
    display: inline-block;
    position: absolute;
    top: 50%;
    height: 50px;
    margin-top: -25px;
    width: auto;
}
#header nav ul.links {
  float: right;
  display: inline-block;
  margin: 0px;
}
#header nav ul.links>li {
  float: left;
  list-style-type: none;
  max-width: 100px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

#header .main {
  cursor: pointer;
  display: block;
  font-size: 14px;
  text-align: center;
  color: #000;
  text-transform: lowercase;
  position: relative;
}
#header .content {
  padding: 0px;
  position: absolute;
  min-width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: none;
  border: 2px solid #000;
}
#header .content::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -50%;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}
#header .content li {
    color: black;
    width: 100%;
    text-align: left;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    margin: 0;
}
#header .content li:hover {
  background-color: #cecece;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-weight: bolder;
  color: #000;
}
#header .main:hover .content {
  display: block;
}

#header nav ul.links>li>a i {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    display: block;
    height: 35px;
    width: 35px;
    margin: 0 20px;
}
#header nav ul.links>li>a p {
  color: #343434;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
#header .content li>a {
  color: #000;
  font-size: 14px;
}

#header .content li>a>li {
  font-size: inherit;
}


.center-card {
  width: 35%;
}
.checkout-card {
  width: 70%;
}

a {
  color: #1b9fe0;
  text-decoration: none;
}
a:visited {
  /*color: #9e9e9e;*/
}

#price-comparison, #price-comparison a {
    color: #000;
}

#price-comparison {
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0;
    text-align: center;
    text-transform: uppercase;
}

.custom-bg-color {
  background-color: var(--custom-color);
}
.custom-footer-color {
  background-color: var(--footer-color);
  color: #fff;
}
.custom-txt-color {
  color: var(--custom-color);
}
.txt-color {
  color: red;
}


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.thing-get ul {
  padding: 0;
  width: 100%;
  margin-left: 20px;
  padding-right: 20px;
}

.thing-get ul li {
  word-break: break-all;
}


.muli-regular {
  font-family: 'Muli', sans-serif;
  font-weight: 400!important;
}
.muli-semi-bold {
  font-family: 'Muli', sans-serif;
  font-weight: 600!important;
}
.muli-bold {
  font-family: 'Muli', sans-serif;
  font-weight: 700!important;
}




/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.item-hero {
  position: relative;
  overflow: visible;
}

.left-lane {
  width: 30%;
}
.middle-lane {
  width: 40%;
}
/*.page-wrap h1,p,h2,h3,h4,h5,h6,li {
  color: var(--txt-color);
}*/
.right-lane {
  width: 30%;
}
.page-wrap {
  margin: 0 auto;
  width: 1142px;/*1024px;*/
}
.footer-page-wrap {
  padding: 0 auto;
  width: 1142px;/*1024px;*/
}

.buy {
  width: 100%;
}


.item-hero {
  background: blue;
}

#hero-background {
    position: absolute;
    background-size: 1042px 1042px;
    background-repeat: no-repeat;
    width: 900px;
    height: 900px;
    top: -300px;
    left: -275px;
    z-index: -100;
    background-position: center!important;
}

.share_btn {
  color: #fff;
}
#share_btns a {
  color: #fff;
}
.share_btn.facebook {
  background-color:#3B5998;
}
.share_btn.twitter {
  background-color:#2f87d2;
}
.share_btn.instagram {
  background-color:#25d366;
}
.share_btn.facebook:hover {
  color:#3B5998;
}
.share_btn.twitter:hover {
  color:#2f87d2;
}
.share_btn.instagram:hover {
  color:#25d366;
}
.share_btn:hover {
  background-color: #fff;
}
.w3-mobile {
  margin-top: 80px;
}


@media screen and (max-width: 576px) {
  dl dt {
    display: none;
    border: 1px solid #e0e0e0;
  }
  dl dd {
    border: 1px solid #e0e0e0;
    width: 100%;
  }
  .w3-mobile {
    box-shadow: none!important;
    margin-top: 0;
  }
  .mobile-inline-margin-top {
    margin-top: 35px;
  }
  #header {
    height: 50px;
  }
  #header nav {
    height: 60px;
    margin: 0 10px;
    padding: 8px;
    width: auto;
  }
  .muli-bold {
    font-size: 24px!important;
  }
  .muli-semi-bold {
    font-size: 19px!important;
    font-weight: bold;
    line-height: 19px;
  }
  #header nav a.logo img {
    background-position: -2px -28px;
    height: 50px;
    margin-top: -25px;
    width: auto;
  }
  #header .content {
    min-width: 80px;
  }
  #header nav ul.links {
    margin-top: 23px;
  }
  #header nav ul.links>li>a i {
    height: 20px;
    width: 20px;
    margin: 0 10px;
  }
  #header nav ul.links>li>a {
    width: 20px;
  }
  #header nav ul.links li.whatismeh a i {
    background-position: -289px -24px;
  }
  #header nav ul.links>li>a p{
    display: none;
  }
  #hero-background {
      position: absolute;
      background-size: 1042px 1042px;
      background-repeat: no-repeat;
      width: inherit;
      height: 600px;
      top: -150px;
      left: -130px;
      right: -20px;
      z-index: -100;
      background-position: center;
  }
  .left-lane {
    width: 95%;
    margin: 0 auto;
    float: none;
  }
  .middle-lane {
    width: 100%;
    padding: 10px;
  }
  .right-lane {
    width: 100%;
    padding: 10px;
  }
  .center-card {
    width: 80%;
  }
  .page-wrap {
    margin: 0 auto;
    width: auto;
    padding: 10px;
  }
  .slideshow-container {
    width: 100%;
  }
  .left-lane img {
    width: 100%;
    margin: 0 auto;
  }
  .buy {
    width: 100%;
    margin: 0 auto;
  }
  .post_content img {
    width: 100%!important;
  }
  #share_btns {
    cursor:pointer;
    position:absolute !important;
    left:-10px !important;
    top:50px !important;
    color:#fff;
    display:none;
    padding:16px;
    height:auto;
  }
}
/* On smaller screens, decrease text size */
@media screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
  #header nav ul.links>li>a i {
    height: 18px;
    width: 18px;
    margin: 0 10px;
  }
  #header nav ul.links>li>a {
    width: 18px;
  }
  .buy {
    width: 70%;
    margin: 0 auto;
  }
}
