<div style="width:20%" class="w3-col w3-mobile">
  <div class="w3-bar-block">
    <a class="w3-bar-item w3-button w3-white w3-border w3-hover-teal w3-center" href="/han/dashboard">Statistics</a>
    <a class="w3-bar-item w3-button w3-white w3-border w3-hover-teal w3-center" href="/han/deal">Deals</a>
    <a class="w3-bar-item w3-button w3-white w3-border w3-hover-teal w3-center" href="/han/users">Users</a>
    <a class="w3-bar-item w3-button w3-white w3-border w3-hover-teal w3-center" href="/han/coupons">Coupons</a>
    <a class="w3-bar-item w3-button w3-white w3-border w3-hover-teal w3-center" href="/han/coupons">Coupons</a>
    <a class="w3-bar-item w3-button w3-white w3-border w3-hover-teal w3-center" href="/han/savers">theSavers</a>
    <a class="w3-bar-item w3-button w3-white w3-border w3-hover-teal w3-center" href="/han/verify-ussd">Verify USSD</a>
    <a class="w3-bar-item w3-button w3-white w3-border w3-hover-teal w3-center" href="/han/story">Our Story</a>
    <a class="w3-bar-item w3-button w3-white w3-border w3-hover-teal w3-center" href="/han/sell">Wholesalers</a>
    <a class="w3-bar-item w3-button w3-white w3-border w3-hover-teal w3-center" href="/han/reports">Reports</a>
  </div>
</div>
