<div style="width:20%" class="w3-col w3-mobile">
  <div class="w3-bar-block">
    <a class="w3-bar-item w3-button w3-blue w3-center" href="/admin/dashboard">Statistics</a>
    <a class="w3-bar-item w3-button w3-yellow w3-center" href="/admin/deal">Deals</a>
    <a class="w3-bar-item w3-button w3-indigo w3-center" href="/admin/story">Our Story</a>
    <a class="w3-bar-item w3-button w3-teal w3-center" href="#">Reports</a>
  </div>
</div>
